<aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
    <div class="aside-content bg-primary-700 text-auto">

        <div class="aside-toolbar">
            <div class="logo">
                <a href="{{ path('<front>') }}"><img src="{{ logo_url }}" alt="logo"></a>
                {# <span class="logo-icon">{{ logo_url }}</span> #}
                 <span class="logo-text">{{ site_name }}</span> 
            </div>
            <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                <i class="icon icon-backburger"></i>
            </button>
        </div>
        {% if logged_in %}
        <input type="hidden" id="base_url" value="{{ url('<front>') }}" />
        {% endif %}
        <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item">

        {{ page.main_navigation }}

        </ul>
        
    </div>
</aside>